<div class="container-storage">
    <div class="row">
     <div class="col-2">
    <aside class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-2 position-fixed">
     <!-- Sidebar -->
     <div class="sidebar">
       <!-- Sidebar user (optional) -->
       <div class="user-panel mt-3 pb-3 mb-3 d-flex">
         <h1> <i class="bi bi-person-circle"></i> ADMIN</h1>
         
        </div>
       <!-- Sidebar Menu -->
       <nav class="mt-2 ">
         <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
           <li class="nav-item">
             <a href="/admin" class="nav-link text-white">              
               <p>
                 <i class="bi bi-person-vcard-fill "></i> INFORMATION USER
               </p>
             </a>
           </li>
           <li class="nav-item">
             <a href="/admin/education" class="nav-link text-white">
               <p>
                 <i class="bi bi-clipboard2-data-fill"></i> EDUCATION
               </p>
             </a>
           </li>
           <li class="nav-item">
             <a href="/admin/skills" class="nav-link text-white">
               <p>
                 <i class="bi bi-grid-3x3-gap"></i> SKILLS
                 <i class="fas fa-angle-left right"></i>
               </p>
             </a>
               <li class="nav-item">
                 <a href="/admin/experience" class="nav-link text-white">
                   <p><i class="bi bi-kanban"></i> EXPERIENCE</p>
                 </a>
               </li>
               <li class="nav-item">
                 <a href="/admin/profile" class="nav-link text-white">
                   <p><i class="bi bi-person-lines-fill"></i> PROFILE</p>
                 </a>
               </li>
               <li class="nav-item">
                 <a href="/admin/portfolio" class="nav-link text-white">
                   <p><i class="bi bi-trophy"></i> PORTFOLIO</p>
                 </a>
               </li>
               <li class="nav-item">
                 <a href="/admin/client" class="nav-link text-white">
                   <p><i class="bi bi-people-fill"></i> CLIENTS</p>
                 </a>
               </li>
               <li class="nav-item">
                 <a href="/admin/contact" class="nav-link text-white">
                   <p><i class="bi bi-chat-left-text"></i> CONTACT</p>
                 </a>
               </li>
               <li class="nav-item">
                 <a href="/admin/soicial" class="nav-link text-white">
                   <p><i class="bi bi-link-45deg"></i> SOICIAL</p>
                 </a>
               </li>
               <li class="nav-item">
                <a href="/login/logout" class="nav-link text-white">
                  <p><i class="bi bi-box-arrow-left"></i> LOGOUT</p>
                </a>
              </li>
               
            </div>
         <!-- /.sidebar -->
       </aside>
     </div>
      <!--main-content-->
  </div>