body, html {
    height: 100%;
    margin: 0;
}
.container-fluid {
    height: 100%;
}
.row {
    height: 100%;
}
.position-fixed {
    height: 100vh;
}
.main-content {
    margin-left: 250px; /* Điều chỉnh theo chiều rộng của sidebar */
    padding: 20px;
}
.form{
    border-style: solid;
    border-color: black;
    margin-left: 20px;
}
#row1{
    margin-left: 250px;
}
.button{
    margin-top:100px;
}